<ion-view title="Culture" id="page8" class="img-culture">
    <ion-content padding="true" class="has-header">
      <div ng-init="date = {day: today.getDate(), month: today.getMonth()+1, year: today.getFullYear()}"></div>
        <ion-list id="culture-list3" class="">
            <h3 class="text-white">Today ({{(date.day > 9)? date.day : "0" + date.day}}.{{(date.month > 9)? date.month : "0" + date.month}})</h3>
            <ion-item ng-repeat="cultureEvent in cultureEvents | filter:filterDate()" ng-click="setDetails(cultureEvent)">
                <b><i class="ion-location" aria-hidden="true"></i> {{cultureEvent.local}}</b> 
                <br />{{cultureEvent.name}}
          </ul>
        </ion-list>
        <a ui-sref="tabsController.allCulture" id="culture-button2" class=" button button-positive  button-block ">Upcomming events</a>
    </ion-content>
</ion-view>