<ion-view title="Culture" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="culture-list4" class=" ">
            <ion-item id="culture-list-item7" ui-sref="tabsController.page10" class="  ">12/05 - culture1</ion-item>
            <ion-item id="culture-list-item8" ui-sref="tabsController.page10" class="  ">12/05 - culture2</ion-item>
            <ion-item id="culture-list-item9" ui-sref="tabsController.page10" class="  ">12/05 - culture3</ion-item>
        </ion-list>
        <a ui-sref="tabsController.allEvents" id="culture-button3" class=" button button-positive  button-block ">Upcomming events</a>
    </ion-content>
</ion-view>