<ion-view title="" id="page10" class="">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/culture_icon.png">
        <h2>{{cultureEvent.name}}</h2>
        <p><i class="ion-calendar"></i> {{cultureEvent.day}}.{{cultureEvent.month}}.{{cultureEvent.year}}</p>
        <p><i class="ion-location"></i> {{cultureEvent.local}} ({{cultureEvent.address}})</p>
        <p><i class="ion-clock"></i> {{cultureEvent.time}}</p>
        <p><i class="ion-cash"></i> {{cultureEvent.price}}</p>
      </div>

      <div class="item item-body">
        <p>{{cultureEvent.description}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
