<ion-view title="" id="page9" class="">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/Sports_icon.png">
        <h2>{{sport.name}}</h2>
        <p><i class="ion-calendar"></i> {{sport.day}}.{{sport.month}}.{{sport.year}}</p>
        <p><i class="ion-location"></i> {{sport.local}} ({{sport.address}})</p>
        <p><i class="ion-clock"></i> {{sport.time}}</p>
        <p><i class="ion-cash"></i> {{sport.price}}</p>
      </div>

      <div class="item item-body">
        <p>{{sport.description}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
