<ion-view title="Parties" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
      <div ng-init="date = {day: getDatetime.getDate(), month: getDatetime.getMonth()+1, year: getDatetime.getFullYear()}"></div>
        <ion-list id="parties-list3" class=" ">
            <ion-item ng-repeat="party in parties | filter:date:strict" ng-click="setDetails(party)">
              {{party.day}}/{{party.month}}/{{party.year}} - {{party.name}}
            </ion-item>
            <!-- {{party.getDate()}}/{{getDatetime.getMonth()+1}}/{{getDatetime.getFullYear()}} - {{party.name}}-->
            <!--
            <ion-item id="parties-list-item4" ui-sref="tabsController.page5" class="  ">12/05 - Maifete</ion-item>
            <ion-item id="parties-list-item5" ui-sref="tabsController.page5" class="  ">12/05 - Latino's night</ion-item>
            <ion-item id="parties-list-item6" ui-sref="tabsController.page5" class="  ">12/05 - Live rock band</ion-item>
          -->
        </ion-list>
        <a ui-sref="tabsController.allEvents" id="parties-button2" class=" button button-positive  button-block ">Upcomming events</a>
    </ion-content>
</ion-view>
