<ion-view title="Sports" id="page2" class="img-sport">
  <div ng-init="date = {day: getDatetime.getDate(), month: getDatetime.getMonth()+1, year: getDatetime.getFullYear()}"></div>
    <ion-content padding="true" class="has-header" style="background: url(img/sport.jpg) center;background-size:cover;>
      <div ng-init="date = {day: getDatetime.getDate(), month: getDatetime.getMonth()+1, year: getDatetime.getFullYear()}"></div>
        <ion-list id="sports-list3" class="">
            <h3 class="text-white">Today ({{(date.day > 9)? date.day : "0" + date.day}}.{{(date.month > 9)? date.month : "0" + date.month}})</h3>
            <ion-item ng-repeat="sport in sports | filter:filterToday()" ng-click="setDetails(sport)">
                <b><i class="ion-location" aria-hidden="true"></i> {{sport.local}}</b>
                <br />{{sport.name}}
          </ul>
        </ion-list>
        <a ui-sref="tabsController.allSports" id="sports-button2" class=" button button-positive  button-block ">Upcoming events</a>
    </ion-content>
</ion-view>
