<ion-view title="Sports" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="sports-list2" class=" ">
            <ion-item id="sports-list-item1" ui-sref="tabsController.page9" class="  ">12/05 - sport</ion-item>
            <ion-item id="sports-list-item2" ui-sref="tabsController.page9" class="  ">12/05 - sport2</ion-item>
            <ion-item id="sports-list-item3" ui-sref="tabsController.page9" class="  ">12/05 - sport3</ion-item>
        </ion-list>
        <a ui-sref="tabsController.allEvents" id="sports-button1" class=" button button-positive  button-block ">Upcomming events</a>
    </ion-content>
</ion-view>